<div class = "container-fluid">

<h2>Login Form</h2>

<form [formGroup] = "MarvellousForm">
    <div class="form-group">
        <label>Username :</label>
        <input type="text" class="form-control" formControlName="username">
    </div>
<br><br>
    <div class="form-group">
        <label>Password :</label>
        <input type="password" class="form-control" formControlName="passowrd">
    </div>
<br><br>
    <div class="form-group">
        <label>Confirm Password :</label>
        <input type="password" class="form-control" formControlName="confirmpw">
    </div>
<br><br>
    <button type="submit" class="btn btn-primary">Login</button>
    <button type="button" class="btn btn-primary ml-3" (click)="SetData()">Set values</button>
</form>

{{MarvellousForm.value | json}}

</div>