<!--
<form class="form-inline">  </form> 
<div class="container">
student name:<input type="text" placeholder="name" name="nm"><br><br>
address:<input type="text" placeholder="address" name="pw"><br><br>
<input type="button" value="Save" name="sve">&nbsp;&nbsp;
<input type="button" value="Delete" name="delete">
</div>


<div class="row">
    <div class="col-md-5">
        <form [formGroup]="this.DatabseService.form" (ngSubmit)="onSubmit()">
            <input type="hidden" formControlName="$key">
            <div class="form-group">
                <label>Student name</label>
                <input  formControlName="fullname" class="form-control" [ngClass]="{"
            </div>
        </form>
    </div>
</div>
-->